<div class="min-h-screen overflow-x-hidden xl:flex">
  <div>
    <app-sidebar></app-sidebar>
    <app-backdrop></app-backdrop>
  </div>
  <div
      class="min-w-0 flex-1 overflow-x-hidden transition-all duration-300 ease-in-out"
      [ngClass]="{
        'xl:ms-[290px]': (isExpanded$ | async) || (isHovered$ | async),
        'xl:ms-[90px]': !(isExpanded$ | async) && !(isHovered$ | async),
        'ms-0': (isMobileOpen$ | async)
      }"
  >
    <!-- app header start -->
    <app-header/>
    <!-- app header end -->
    <div class="min-w-0 p-4 mx-auto max-w-(--breakpoint-2xl) md:p-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
