<app-page-breadcrumb pageTitle="Servicios" />
<div class="space-y-6">
  <app-component-card title="Servicios del negocio">
    <app-personalized-table
      title="Servicios"
      addLabel="Añadir servicio"
      createTitle="Añadir servicio"
      editTitle="Editar servicio"
      [tableData]="tableData"
      [columns]="columns"
      (rowCreated)="createService($event)"
      (rowUpdated)="updateService($event)"
      (rowDeleted)="deleteService($event)"
    />
  </app-component-card>
</div>
